# TP-Link Archer BE900/BE9700/BE6500/BE550/BE230
API_SUPPORTED=true

ROUTER_HOST=http://192.168.0.1
ROUTER_USERNAME=admin
ROUTER_PASSWORD=
ROUTER_ENCRYPTED_PASSWORD=

# API server
API_HOST=0.0.0.0
API_PORT=8818
API_KEY=
AUTO_LOGIN=true
