# TP-Link Deco BE85/BE63/BE65 Pro
API_SUPPORTED=true

ROUTER_HOST=http://192.168.0.1
ROUTER_USERNAME=admin
ROUTER_PASSWORD=
ROUTER_ENCRYPTED_PASSWORD=

# API server
API_HOST=0.0.0.0
API_PORT=8821
API_KEY=
AUTO_LOGIN=true
