# TP-Link TL-SG108 Unmanaged
API_SUPPORTED=false

DEVICE_HOST=192.168.1.1
# Unmanaged device — no login credentials available
DEVICE_USERNAME=
DEVICE_PASSWORD=

# API server
API_HOST=0.0.0.0
API_PORT=8856
API_KEY=
