[defaults]
inventory = ./inventory/dev_hosts.yml
roles_path = ./roles
host_key_checking = False
stdout_callback = default
timeout = 30
interpreter_python_fallback = ["/usr/bin/python3", "python3"]

[privilege_escalation]
become = True
become_ask_pass = False
