# Verizon Internet Gateway ASK-NCM1100
API_SUPPORTED=true

ROUTER_HOST=https://192.168.1.1
ROUTER_USERNAME=admin
ROUTER_PASSWORD=
ROUTER_TLS_HOSTNAME=mynetworksettings.com
ROUTER_VERIFY_TLS=false

# API server
API_HOST=0.0.0.0
API_PORT=8807
API_KEY=
AUTO_LOGIN=true
